Brewfile
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
pinokio
Public
.vscode/extensions
.zsh_sessions
.npm
.cursor/extensions
.colima/_lima
.cache
.CFUserTextEncoding
.DS_Store
*.log
*.pid
*.sample
.local/share/yadm/repo.git
.viminfo
.zsh_history
.ssh/id_ed25519
.ssh/id_rsa
.ssh/known_hosts
.lesshst

.conda
github
.local/share/devbox
node_modules
